%h1 Drużyny

%table
  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to team.name, team
        %td
          = link_to edit_team_path(team) do
            %span.glyphicon.glyphicon-pencil

        %td
          = link_to team, method: :delete, data: { confirm: 'Jesteś pewien?' } do
            %span.glyphicon.glyphicon-trash

%br

= link_to 'Nowa drużyna', new_team_path
