= simple_form_for(@round, url: polymorphic_url([:admin, @round]), html: { class: 'form-horizontal' }, wrapper: :horizontal_form ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit, 'Zapisz kolejkę'
