/* line 5, /home/pulpecja/Dokumenty/euro_typer/euro_typer/app/assets/stylesheets/teams.css.scss */
table tr td {
  padding: 5px;
}
/* line 7, /home/pulpecja/Dokumenty/euro_typer/euro_typer/app/assets/stylesheets/teams.css.scss */
table tr td a {
  color: black;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/*! X-editable - v1.5.1 
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2013 Vitaliy Potapov; Licensed MIT */
/* line 6, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editableform {
  margin-bottom: 0;
  /* overwrites bootstrap margin */
}

/* line 10, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editableform .control-group {
  margin-bottom: 0;
  /* overwrites bootstrap margin */
  white-space: nowrap;
  /* prevent wrapping buttons on new line */
  line-height: 20px;
  /* overwriting bootstrap line-height. See #133 */
}

/* 
  BS3 width:1005 for inputs breaks editable form in popup 
  See: https://github.com/vitalets/x-editable/issues/393
*/
/* line 20, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editableform .form-control {
  width: auto;
}

/* line 24, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-buttons {
  display: inline-block;
  /* should be inline to take effect of parent's white-space: nowrap */
  vertical-align: top;
  margin-left: 7px;
  /* inline-block emulation for IE7*/
  zoom: 1;
  *display: inline;
}

/* line 33, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-buttons.editable-buttons-bottom {
  display: block;
  margin-top: 7px;
  margin-left: 0;
}

/* line 39, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-input {
  vertical-align: top;
  display: inline-block;
  /* should be inline to take effect of parent's white-space: nowrap */
  width: auto;
  /* bootstrap-responsive has width: 100% that breakes layout */
  white-space: normal;
  /* reset white-space decalred in parent*/
  /* display-inline emulation for IE7*/
  zoom: 1;
  *display: inline;
}

/* line 49, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-buttons .editable-cancel {
  margin-left: 7px;
}

/*for jquery-ui buttons need set height to look more pretty*/
/* line 54, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-buttons button.ui-button-icon-only {
  height: 24px;
  width: 30px;
}

/* line 59, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editableform-loading {
  background: url(/assets/bootstrap-editable/loading.gif) center center no-repeat;
  height: 25px;
  width: auto;
  min-width: 25px;
}

/* line 66, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-inline .editableform-loading {
  background-position: left 5px;
}

/* line 70, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-error-block {
  max-width: 300px;
  margin: 5px 0 0 0;
  width: auto;
  white-space: normal;
}

/*add padding for jquery ui*/
/* line 78, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-error-block.ui-state-error {
  padding: 3px;
}

/* line 82, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-error {
  color: red;
}

/* ---- For specific types ---- */
/* line 88, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editableform .editable-date {
  padding: 0;
  margin: 0;
  float: left;
}

/* move datepicker icon to center of add-on button. See https://github.com/vitalets/x-editable/issues/183 */
/* line 95, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-inline .add-on .icon-th {
  margin-top: 3px;
  margin-left: 1px;
}

/* checklist vertical alignment */
/* line 103, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-checklist label input[type="checkbox"],
.editable-checklist label span {
  vertical-align: middle;
  margin: 0;
}

/* line 108, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-checklist label {
  white-space: nowrap;
}

/* set exact width of textarea to fit buttons toolbar */
/* line 113, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-wysihtml5 {
  width: 566px;
  height: 250px;
}

/* clear button shown as link in date inputs */
/* line 119, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-clear {
  clear: both;
  font-size: 0.9em;
  text-decoration: none;
  text-align: right;
}

/* IOS-style clear button for text inputs */
/* line 127, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-clear-x {
  background: url(/assets/bootstrap-editable/clear.png) center center no-repeat;
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  opacity: 0.6;
  z-index: 100;
  top: 50%;
  right: 6px;
  margin-top: -6px;
}

/* line 142, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-clear-x:hover {
  opacity: 1;
}

/* line 146, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-pre-wrapped {
  white-space: pre-wrap;
}

/* line 149, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-container.editable-popup {
  max-width: none !important;
  /* without this rule poshytip/tooltip does not stretch */
}

/* line 153, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-container.popover {
  width: auto;
  /* without this rule popover does not stretch */
}

/* line 157, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-container.editable-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  /* inline-block emulation for IE7*/
  zoom: 1;
  *display: inline;
}

/* line 166, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-container.ui-widget {
  font-size: inherit;
  /* jqueryui widget font 1.1em too big, overwrite it */
  z-index: 9990;
  /* should be less than select2 dropdown z-index to close dropdown first when click */
}

/* line 172, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-click,
a.editable-click,
a.editable-click:hover {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}

/* line 179, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-click.editable-disabled,
a.editable-click.editable-disabled,
a.editable-click.editable-disabled:hover {
  color: #585858;
  cursor: default;
  border-bottom: none;
}

/* line 185, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-empty, .editable-empty:hover, .editable-empty:focus {
  font-style: italic;
  color: #DD1144;
  /* border-bottom: none; */
  text-decoration: none;
}

/* line 192, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-unsaved {
  font-weight: bold;
}

/* line 196, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-unsaved:after {
  /*    content: '*'*/
}

/* line 200, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.editable-bg-transition {
  -webkit-transition: background-color 1400ms ease-out;
  -moz-transition: background-color 1400ms ease-out;
  -o-transition: background-color 1400ms ease-out;
  -ms-transition: background-color 1400ms ease-out;
  transition: background-color 1400ms ease-out;
}

/*see https://github.com/vitalets/x-editable/issues/139 */
/* line 210, /home/pulpecja/.rvm/gems/ruby-2.2.4/gems/bootstrap-editable-rails-0.0.9/app/assets/stylesheets/bootstrap-editable.scss */
.form-horizontal .editable {
  padding-top: 5px;
  display: inline-block;
}

/* Removed datepicker css. If you want to use datepicker, add latest datepicker library such as bootstrap-datepicker. */
/* line 19, /home/pulpecja/Dokumenty/euro_typer/euro_typer/app/assets/stylesheets/application.scss */
.centered-nav .btn {
  border: 1px solid;
  border-color: black;
  color: black;
}

/* line 25, /home/pulpecja/Dokumenty/euro_typer/euro_typer/app/assets/stylesheets/application.scss */
.centered-nav .btn:hover {
  background-color: #CCCCCC;
  text-decoration: none;
}

/* line 30, /home/pulpecja/Dokumenty/euro_typer/euro_typer/app/assets/stylesheets/application.scss */
html, body {
  height: 100%;
}

/* line 34, /home/pulpecja/Dokumenty/euro_typer/euro_typer/app/assets/stylesheets/application.scss */
#holder {
  min-height: 100%;
  position: relative;
}

/* line 39, /home/pulpecja/Dokumenty/euro_typer/euro_typer/app/assets/stylesheets/application.scss */
#body {
  padding-bottom: 100px;
  /* height of footer */
}

/* line 43, /home/pulpecja/Dokumenty/euro_typer/euro_typer/app/assets/stylesheets/application.scss */
footer {
  height: 100px;
  width: 85%;
  position: absolute;
  left: 50;
  bottom: 0;
}
