%div.text-center
  %table.table.table-striped{style: 'width: 50%'}
    - @users.each_with_index do |user, i|
      %tr
        %td= "#{i+1}."
        %td= link_to user.username, user_path(user)
        %td= user.points