%h1 Zasady

%br/
%ol
  %li Każdy mecz typować można do godziny przed jego rozpoczęciem.
  %br
  %li Typy zmieniać można dowolną ilość razy do godziny przed rozpoczęciem danego meczu. Nie trzeba typować całej kolejki za jednym razem.
  %br
  %li Po zatwierdzeniu danego typu zapisywany jest on automatycznie w bazie. Nie ma potrzeby zatwierdzania/zapisywania całej kolejki.
  %br
  %li Punktacja – za trafnie wytypowanego zwycięzcę meczu lub remis otrzymujemy 2 punkty. Za wytypowanie dokładnego wyniku meczu (np. 2-1) przyznawany jest dodatkowy punkt, więc za 1 mecz można otrzymać maksymalnie 3 punkty.
  %br
  %li Dodatkowo typujemy zwycięzcę całego mundialu (na górze strony turnieju). Za trafne wytypowanie zwycięzcy można otrzymać 5 bonusowych punktów.
  %br
  %li W przypadku równej sumy punktów o wyższym miejscu decyduje suma trafnych wyników.
  %br
  %li Aplikacja musi "spać" przez 8 godzin dziennie, żeby być darmowa, więc czasem odpalenie strony może chwilę trwać, bo musi się "obudzić" ;)