- @groups.each do |group|
  %h3= group.name
  - group.competitions.each do |competition|
    %h4
      .col-md-1
      .col-md-11
        %li= link_to competition.name, group_competition_matches_path
  / .row
  /   = link_to admin_matches_path, class: "btn btn-default btn-block" do
  /     .text-left
  /       Mecze