.row
  .text-center

    - winner_type = WinnerType.find_by(user: current_user, competition: competition)
    - if winner_type.present?
      Jako zwycięzcę obstawiłeś:
      %strong= "#{winner_type.team.name}."
      - if can_type_winner?(competition)
        Swój typ możesz jeszcze zmienić
        = link_to 'tu.', edit_winner_type_path(winner_type, competition: competition)
    - elsif can_type_winner?(competition)
      Jeszcze nie wytypowałeś zwycięzcy. Zrób to tu:
      = link_to 'klik!', new_winner_type_path(competition: competition)
    - else
      Niestety, nie wytypowałeś zwycięzcy.