// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.good-bet {
  color: #00cc00;
  min-width: 40px;
}

.good-type {
  font-weight: bold;
  min-width: 40px;
}

.current-user {
  a, a:visited {
    color: red;
  }
}

.user-table {
  tr {
    td.text-center {
      min-width: 50px;
      /*padding: 0px;*/
      margin-left: 0px;
    }

    th {
      font-weight:normal;
    }
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}