%p
  Witaj #{@resource.email}!
%p Ktoś poprosił zmianę twojego hasła. Możesz to zrobić poprzez poniższy link.

%p= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token)
%p Jeśli nie prosiłeś o zmianę, zignoruj tę wiadomość.
%p Twoje hasło nie zmieni się dopóki nie wejdziesz w powyższy link i nie stworzysz nowego.
