#wrapper
  %ul.nav.navbar-nav.side-nav
    %li
      = link_to 'Twoje grupy', groups_path
      %ul
        - current_user.groups.each do |group|
          %li= link_to group.name, group_path(group)
    %li
      %a
        Turnieje
      %ul
        - current_user.user_competitions.each do |competition|
          %li= link_to competition.full_name, competition_path(competition)
